# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/

# env
.env
.env.production

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store

# #Luo8Q~jpVJafkOuB2XtfZ3ZyLt3XYMhOr4PmLaII value
# #038185ae-ff0a-41ce-ae14-19d11c692c21 SID
# # 1fae8206-414a-4b5d-abc0-05e26c97536f TelnetID
# # d44a1b4c-1658-4036-95e1-b43fa02 Subscription ID
# {
#     "clientSecret":  "Luo8Q~jpVJafkOuB2XtfZ3ZyLt3XYMhOr4PmLaII",
#     "subscriptionId":  "d44a1b4c-1658-4036-95e1-b43fa02",
#     "tenantId":  "1fae8206-414a-4b5d-abc0-05e26c97536f ",
#     "clientId":  "2cbda007-39e1-4fe7-899e-748e13d475a9"
# }

# {"clientSecret":"Luo8Q~jpVJafkOuB2XtfZ3ZyLt3XYMhOr4PmLaII","subscriptionId":"d44a1b4c-1658-4036-95e1-b43fa02","tenantId":"1fae8206-414a-4b5d-abc0-05e26c97536f ","clientId":"2cbda007-39e1-4fe7-899e-748e13d475a9"}